html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  background-color: white;
}

.blck {
  background: rgba(0,0,0,0.4) !important;
  z-index: 150;
}


@media only screen and (max-width: 991px) {
  .blck {
    display: none;
  }
}

@media only screen and (min-width: 991px) {
  .lang {
    display: none;
  }
}


/* Navbar Decoration */

.navbar {
  background: #fff !important;
  margin-top: 0px !important;
}

.navbar-brand {
  margin-left: 100px;
  margin-top: 5px;
}

.navbar-brand img {
  width: 120px;
}

.navbar-brand .logoB {
  display: none;
}
.navbar-brand .logoW {
  display: inline;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px !important;

}

.flag {
  margin-right: 0 !important;
  margin-left: 0;
  width: 20px;
  height: 12px;
  opacity: 1;
}
.activeFlag img {
  border: 2px solid #fcd307;
}

.navbar-brand:hover {
  border-bottom: 2px solid transparent !important;
}

.trn {
  background: transparent !important;
  z-index: 99;
}

.trn a {
    margin-right: 30px;
    color: #fff !important;
    border-bottom: 2px solid transparent;
}

.trn a:hover {
  border-bottom: 2px solid #fcd307;
}

.trn .active a {
  border-bottom: 2px solid #fcd307;
}


.dropdown-item:hover {
  background-color: #fcd307 !important;
  color: black !important;
}

.mrt a {
  margin-top: 5px;
  background: #fcd307;
  
  color: #000 !important;
  border-radius: 50px;
  padding: 8px 25px !important;
  box-shadow: 3px 3px 5px #333;
  height: 40px;
  width: 160px;
  text-align: center;

  
}

.mrt a:hover {
  background: #fff;
  box-shadow: none;
  border: 1.3px solid #d5b30a;
}


.fixed-top.scrolled {
  background: #fff !important;
  transition: background-color 200ms linear;
  margin-top: 0 !important;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.4) !important;
}

.scrolled a {
    margin-right: 30px;
    color: #000 !important;
    border-bottom: 2px solid transparent;
}

.scrolled a:hover {
  border-bottom: 2px solid #fcd307;
}

.scrolled .navbar-brand .logoW {
  display: none;
}

.scrolled .navbar-brand .logoB {
  display: inline;
}

.scrolled .activeItem {
  border-bottom: 2px solid #fcd307;
}

.activeButton a{
  background-color: black !important;
  color: #fcd307 !important;
}

.scrolled .dropdown-menu {
  background-color: #f8f8f9 !important;
}

@media only screen and (max-width: 1175px) {
  .navbar-brand {
    margin-left: 10px;
    margin-right: 0px;
  }

  #navbarNav {
    margin-left: 5px !important;
  }
}

@media only screen and (max-width: 1031px) {
  .mrt {
    margin-right: 5px !important;
  }
}

@media only screen and (max-width: 991px) {
  .mrt a {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .trn {
    background: black !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar {
    margin-top: 0px !important;
  }

  .scrolled .trn {
    background: #fff !important;
    transition: background-color 200ms linear;
    margin-top: 0 !important;
    box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.4) !important;
  }
}


/* Slider Section */
.bd-example {
  margin-top: -115px;
}

.carousel-item img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center !important;
 
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;  
  max-width: none;
  height: auto;
}

.carousel-inner {
  height: auto;
}

/* .carImg {
  height: 100% !important;
} */

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

.carousel-caption {
  margin-bottom: 15rem !important;
}

.carousel-caption h5{
  font-size: 60px;
  text-transform: capitalize;
}

.carousel-caption p{
  font-size: 20px;
}

.carousel-caption h1 {
  text-transform: uppercase;
  font-size: 7vw;
  color: #fcd307;
  line-height: 0.9;
  letter-spacing: 1px;
  font-weight: 900;
}

.strokeme {
  font-size: 13vw;
  display: block;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcd307;
}

.carousel-caption h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #fcd307;
  line-height: 1.2;
  letter-spacing: 10px;
  font-weight: 900;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

.carousel-caption h2:before, .carousel-caption h2:after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  width: 8px;
  height: 8px;
  background: #fcd307;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.carousel-caption h2:after {
  left: -15px;
}


.carousel-caption h2:before {
  right: -10px;
}

@media only screen and (max-width: 991px) {
  .carousel-caption h1 {
    font-size: 60px;
  }
  .bd-example {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 242px) {
  .bd-example {
    margin-top: 70px;
  }

}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 22px !important;
  }

}

/* INTRO */

.intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro h6 {
  font-size: 18px;
  color: #fcd307;
  line-height: 1.2;
  letter-spacing: 6px;
}

.intro h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 20px;
}

.intro h2 span {
  color: #fcd307;
  display: block;
}

.intro p {
  margin-bottom: 20px;
}

.intro img {
  width: 100%;
}

.btn-warning.view, .btn-warning.book {
  background-color: #fcd307;
  background: #fcd307;
  color: #000 !important;
  border-radius: 50px;
  padding: 8px 25px !important;
  box-shadow: 3px 3px 5px #333;
  width: 120px;
  text-align: center;
}

.btn-warning.view:hover, .btn-warning.book:hover {
  background: #fff;
  box-shadow: none;
}

/* Best Training */

.bestTr {
  background-color: #fafafa;
}

.bestTr h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 20px;
}

.bestTr span {
  color: #fcd307;
}

@media only screen and (max-width: 860px) {
  .card-body {
    padding: 10px !important;
  }
}

@media only screen and (max-width: 767px) {
  .card-body {
    padding: 20px !important;
  }
}


/* Footer */

.footerATLAS {
  background-color: #1a1717;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footerATLAS h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.footerATLAS p {
  color: rgba(255, 255, 255, 0.7);
}

/* Copyright */

.footer {
  background-color: #fcd307;
  font-size: 15px;
}


/* ADS */

.ads {
  background-color: skyblue;
  opacity: 0.3;
  height: 100%; 
}

.go2back {
  z-index: -1;
}

.ads.intro {
  margin-bottom: 200px;
}

@media only screen and (max-width: 650px) {
  .ads {
    display: none;
  }
}


/* Arrow Breadcrumb */
.breadcrumb {
  margin-top: 100px !important;
}

.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
  content: '';
}

.breadcrumb-arrow {
  /* height: 40px; */
  line-height: 40px;
}

.breadcrumb-arrow .breadcrumb-item:first-child a {
  border-radius: 4px 0 0 4px;
}

.breadcrumb-arrow .breadcrumb-item,
.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item span {
  display: inline-block;
  vertical-align: top;
}

.breadcrumb-arrow .breadcrumb-item:not(:first-child) {
  margin-left: -1px;
}

.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item:before {
  padding: 0;
  content: "";
}

.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item.active {
  height: 40px;
  padding: 0 10px 0 25px;
  line-height: 40px;
}

.breadcrumb-arrow .breadcrumb-item a {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  background-color: #fcd307;
  border: 1px solid #fcd307;
}

.breadcrumb-arrow .breadcrumb-item a:after,
.breadcrumb-arrow .breadcrumb-item a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.breadcrumb-arrow .breadcrumb-item a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #fcd307;
  border-left-style: solid;
  border-left-width: 11px;
}

.breadcrumb-arrow .breadcrumb-item a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #333;
}

.breadcrumb-arrow .breadcrumb-item a:focus,
.breadcrumb-arrow li a:hover {
  background-color: #fff;
  border: 1px solid #fcd307;
}

.breadcrumb-arrow .breadcrumb-item a:focus:before,
.breadcrumb-arrow li a:hover:before {
  border-left-color: #fff;
}

.breadcrumb-arrow li.active:after,
.breadcrumb-arrow li.active:before {
  border-left-color: #000;
}

.activeBreadcrumb {
  margin-top: 0px !important;
}


@media only screen and (max-width: 450px) {
  .breadcrumb{
    font-size: 14px;
  }

  .breadcrumb a {
    padding-left: 15px !important;
    padding-right: 5px !important;
  }
}

@media only screen and (max-width: 350px) {
  .breadcrumb{
    font-size: 12px;
  }
}

/* Sort */
.dropdown-toggle.btn-warning {
  background-color: #fcd307;
  background: #fcd307;
}

.filter-option-inner-inner {
  color: black;
}

.bootstrap-select .dropdown-item .text {
  color: black !important;
}

.dropdown-item.active.selected {
  background: #fcd307;
}


/* SINGLE TR */

.bestTr.singleTr {
  color: white;
}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; 
  } 
}
  
.carousel-multi-item-2 .card img {
  border-radius: 2px; 
}

#new-tab, #comments-tab, #grade-tab {
  color: white;
 
}

#new-tab.active, #comments-tab.active, #grade-tab.active {
  color: #000;
  background-color: #fcd307;
  border-color: #d5b30a;
}

h4 .progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

h4 .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

h4 .progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

h4 .progress .progress-left {
  left: 0;
}

h4 .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

h4 .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

h4 .progress .progress-right {
  right: 0;
}

h4 .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

h4 .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar.bg-warning.text-dark {
  font-weight: 700;
}

/*
.progress .progress-bar:hover {
  font-size: 1rem;
  background: black !important;
  color: #fcd307 !important;
}
*/

/* DATEPICKER */
.datepicker td, .datepicker th {
  width: 2rem;
  height: 2rem;
  font-size: 0.85rem;
}

.day:hover, .active.day {
  color: #fcd307 !important;
  background-color: black !important;
  background-image: none !important;
}

.active.day {
  font-size: 1rem;
}



/* CHECKBOX PDF */

.checkbox {
  width: 100%;
  margin: 15px auto;
  position: relative;
  display: block;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #fcd307;
}
.checkbox label:after {
content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  color: green;
  background-color: #fcd307;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 10px;
  padding-top: 2px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}


/* ABOUT */

.social .fab{
  font-size: 18px;
  padding: 3px;
  padding-top: 0px !important;
}

.social .fab:hover {
  color: white;
}

.team-member .subheading {
  color: #fcd307;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.img-member {
  width: 100%;
  background-position: top center !important;
  position: relative;

  border-left: 10px solid #fcd307;
}

.modal-content {
  color: #343a40;
}



/* ZAKAZI */

@media only screen and (max-width: 400px) {
  .btn-warning.view.zak, .btn-outline-warning.trening {
    width: 100px;
    margin-left: -5px;
  }

  .modal {
    font-size: 12px;
  }

  .dropdown.bootstrap-select {
    width: 150px !important;
  }
}


/* NALOG */

.btn-outline-warning.trening {
  pointer-events: none;
  border-color: #fcd307;
  color: #fcd307;
}